.cardstack {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin-top: 1%;
}

.maindiv {
  height: 100vh !important;

  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.dicodbanner{
  margin-bottom: 1%;
}

@media (max-width: 1400px) {
  .cardstack {
    flex-direction: column !important;
  }
}
